<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myPlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>myPlugin</name>
	<js-module name="myPlugin" src="www/myPlugin.js">
		<clobbers target="MyPlugin" />
	</js-module>
	<preference name="JD_AppKey"/>
	<preference name="JD_AppSecret"/>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="myPlugin">
				<param name="ios-package" value="myPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<source-file src="src/ios/myPlugin.m" />
		<framework src="src/ios/JDSDK/JDSDK.framework" custom="true"/>
		<resource-file src="src/ios/JDSDK/JDSDK.bundle"/>
		<framework src="src/ios/Taobao/framework/*.framework" custom="true"/>
		<resource-file src="src/ios/Taobao/bundle/*.bundle"/>
		<preference name="jdAppKey" value="$JD_AppKey"/>
		<preference name="jdAppSecret" value="$JD_AppSecret"/>
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>jdsdk</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>sdkback$JD_AppKey</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <framework src="CoreTelephony.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="CoreMotion.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="JavaScriptCore.framework" weak="true"/>
        <framework src="libz.tbd" weak="true"/>
        <framework src="libsqlite3.0.tbd" weak="true"/>
	</platform>
</plugin>